<div *ngIf="item" class="detail">
    <div *ngIf="isEditItem; then thenBlockA else elseBlockB"></div>
        <ng-template #thenBlockA>
            <h2>{{item.name}} Edit</h2>
            <div>
                <input [(ngModel)]="item.name"/>
            </div>
            <div>
                <input [(ngModel)]="item.url"/>
            </div>
        </ng-template>
        <ng-template #elseBlockB>
            <h2>{{item.name}} Details</h2>
            <div>
                {{item.name}}
            </div>
            <div>
                <a href={{item.url}} target="_blank">{{item.url}}</a>
            </div>
        </ng-template>
    
    <button (click)="goBack()">ホーム</button>
    <div *ngIf="isEditItem; then thenBlock_save else elseBlock_edit"></div>
    <ng-template #thenBlock_save>
        <button (click)="save()">保存</button>
    </ng-template>
    <ng-template #elseBlock_edit>
        <button (click)="onClick()">編集</button>
    </ng-template>
</div>