h1 {
    font-size: 1.2em;
    margin-bottom: 0;
}

button {
    padding: 5px 10px;
    text-decoration: none;
    cursor: pointer;
    margin-top: 8px;
   /* display: inline-block;
    background-color: #eee;*/
    border-radius: 4px;
}
button visited {
    color: #334953;
}
button hover {
    color: #039be5;
    background-color: #cfd8dc;
}