<div>
    <button (click)=onClick()>新規</button>
</div>
 <div *ngIf="isOpenNewItemMenu" >
    <div>
        <label>名前:
            <input #itemname/>
        </label>
    </div>
    <div>
        <label>URL:
            <input type="url" #itemurl placeholder="http://"/>
        </label>
    </div>
    <button class="btn-register" (click)="registerItem(itemname.value, itemurl.value);
    itemname.value='';itemurl.value=''" >登録</button>
    <button (click)="onClose()">閉じる</button>
</div>

<h2>一覧</h2>
<ul class="wishlist">
    <li *ngFor="let item of wishList">
        <a routerLink="/detail/{{item.id}}">
            {{item.name}}
        </a>
    <button class="delete" title="delete item"
    (click)="delete(item)">✕</button>
    </li>
</ul>